
<section class="mb-12 mx-0 ">
  <div class="border-b-2 border-b-black mx-12">
    <h3 class="text-4xl md:text-5xl mb-4">Altres Edicions</h3>
  </div>
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 justify-center gap-2 my-4">

    <div class="">
      <h1 class="text-3xl ml-10 mb-0">Stravada III</h1>
      <div class="w-full flex justify-center">
        <!-- <img alt="Cartell Strvada" src="/img/prova/cartell.png" class="w-full scale-a" /> -->
        <img alt="Cartell Strvada" src="/img/stravada/cartell.jpg" class="w-full scale-a" />
      </div>
      <div class="px-12">
        <div class="h-custom w-full relative shadow-2xl shadow-black border-2 border-gray-400 rounded-2xl overflow-hidden hover:scale-110 hover:cursor-pointer">
          <a href="https://drive.google.com/drive/folders/1U7KHh2r6yTyCsvFSNETTNU5rUP1b48RG" 
            target="_blank" class="bg-custom-1 h-custom w-full ">
            <span class="w-full flex items-center justify-center absolute bottom-4 bg-opacity-40 bg-white text-2xl">
              Fotos Stravada III
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="w-full md:hidden px-8">
      <div class="border-600 border-b-2 border-gray-300 w-full"></div>
    </div>

    <div class="">
      <h1 class="text-3xl ml-10 mb-0">Stravada II</h1>
      <div class="w-full flex justify-center">
        <!-- <img alt="Cartell Strvada" src="/img/prova/cartell.png" class="w-full scale-a" /> -->
        <img alt="Cartell Strvada" src="/img/stravada/cartell2.jpg" class="w-full px-12 py-7 scale-a" />
      </div>
      <!-- <div class="px-12">
        <div class="h-custom w-full relative shadow-2xl shadow-black border-2 border-gray-400 rounded-2xl overflow-hidden hover:scale-110 hover:cursor-pointer">
          <a href="https://drive.google.com/drive/folders/1U7KHh2r6yTyCsvFSNETTNU5rUP1b48RG" 
            target="_blank" class="bg-custom-2 h-custom w-full ">
            <span class="w-full flex items-center justify-center absolute bottom-4 bg-opacity-40 bg-white text-2xl">
              Strvada II
            </span>
          </a>
        </div> -->
      </div>
    </div>

  </section>
</section>

<style>
.bg-custom-1:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/main/fotos1.jpg');
  /* background-image: url('/img/prova/1.png'); */
  background-position: center center;
}
.bg-custom-2:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/img/main/fotos2.jpg');
  /* background-image: url('/img/prova/2.png'); */
  background-position: center center;
}

.h-custom {
  height: 30vh;
}

</style>