---
import Layout from '../layouts/Layout.astro';
import AltresEdicions from './index/AltresEdicions.astro';
import Fotos from './index/Fotos.astro'
---

<Layout title="Stravada | Black Pata CC">
	<main class="m-custom">
    <!-- <Fotos /> -->
     <AltresEdicions />
	</main>
</Layout>

<style>
.m-custom {
  margin-top: 11vh;
}
</style>
