---
import Layout from '../layouts/Layout.astro';
import AltresEdicions from './index/AltresEdicions.astro';
---

<Layout title="Stravada | Black Pata CC">
	<main class="m-custom">
     <AltresEdicions />
	</main>
</Layout>

<style>
.m-custom {
  margin-top: 11vh;
}
</style>
