---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Reglament | Black Pata CC">
	<main class="m-custom flex">
    
    <div class="m-4 xl:mx-44 w-full rounded-2xl bg-white border-slate-200 border p-4 xl:p-12 shadow-lg">

      <div class="w-full flex justify-center">
        <h2 class="text-2xl font-bold mb-8">Pedalada Stravada 2025: Reglament intern de la prova</h2>
      </div>

      <div class="w-full flex flex-col gap-2">

        <div class="">
          <h4 class="text-xl">1. Organitzador</h4>
          <ul class="ml-8 xl:ml-12 list-disc">
            <li>Nom: Associació Black Pata</li>
            <li>Direcció: Carrer alcalde moles Nº20 - 25280 Solsona (Llleida)</li>
            <li>CIF: G72696545</li>
          </ul>
        </div>
        <div class="">
          <h4 class="text-xl">2. Fitxa tècnica</h4>
          <ul class="ml-8 xl:ml-12 list-disc">
            <li>Data de la pedalada: La Stravada 2025 es celebra el dia 9 de Febrer</li>
            <li>Recollida de dorsals: La recollida de dorsals serà a partir de les 07:30 a la plaça del camp de Solsona. La sortida de la cursa serà a les 09:00h </li>
            <li>Ubicació: El punt de sortida i arribada serà a la plaça del camp de Solsona, recorreguts i característiques tècniques de la cursa es publicaran a 
              l’instagram de blackpatacc. Hi haurà 3 distancies, 11km +200, 33 +900 i 55 +1600.</li>
            </ul>
          </div>
        <div class="">
          <h4 class="text-xl">2. Participants</h4>
          <ul class="ml-8 xl:ml-12 list-disc">
            <li>Nombre de participants: El nombre màxim de participants estarà limitat a 600.</li>
            <li>
              Categories: Els participants s’agruparan en les següents categories: 
              <ul class="list-disc ml-4 xl:ml-8">
                <li>Ruta Black pata</li>
                <ul class="list-disc ml-4 xl:ml-8">
                  <li>Bici normal (Categoria absoluta masc.; categoria absoluta fem.)</li>
                  <li>Bici elèctrica (Categoria absoluta masc.; categoria absoluta fem.)</li>
                </ul>
              </ul>
              <ul class="list-disc ml-4 xl:ml-8">
                <li>Ruta duroc</li>
                <ul class="list-disc ml-4 xl:ml-8">
                  <li>Bici normal (Categoria absoluta masc.; categoria absoluta fem.)</li>
                  <li>Bici elèctrica (Categoria absoluta masc.; categoria absoluta fem.)</li>
                </ul>
              </ul>
              <ul class="list-disc ml-4 xl:ml-8">
                <li>Ruta Stravadeta (Familiar)</li>
                <ul class="list-disc ml-4 xl:ml-8">
                  <li>Bici normal (Categoria absoluta masc.; categoria absoluta fem.)</li>
                  <li>Bici elèctrica (Categoria absoluta masc.; categoria absoluta fem.)</li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
        <div class="">
          <h4 class="text-xl">4. Inscripcions</h4>
          <div class="flex flex-col gap-2 ml-4 xl:ml-8">
            <p>Les inscripcions es realitzaran a través de <a href="https://www.inscripcions.cat" target="_blanck">www.inscripcions.cat</a>. S’anunciarà l’obertura del període 
              d’inscripcions serà el dia 10-11-2024 a través de la web d’inscripcions.cat i de les xarxes socials 
              entre d’altres fonts d’informació.</p>
              <p>Les inscripcions es tancaran en assolir el nombre d’inscrits que determini l’organització o la data límit establerta per l’organització.</p>
              <p>El preu de la inscripció serà de: </p>
              <ul class="list-disc ml-4 xl:ml-8">
                <li><b>25€</b> fins el dia <b>31 de desembre</b></li>
                <li><b>28€</b> fins el dia <b>26 de gener</b></li>
                <li><b>30€</b> fins el dia de la prova</li>
              </ul>
              <p>El mateix dia es faran inscripcions sense recàrrec, sempre i quant en quedin disponibles</p>
              <p>Amb el preu s’inclou l’assegurança i responsabilitat civil</p>
              <p>L’import de la inscripció dóna dret a participar a la cursa, disposar d’un xip o sistema de cronometratge anàleg que proveirà l’organització y que es tornarà al finalitzar la cursa, del dorsal de control, gaudir dels avituallaments al llarg del recorregut i fer ús de tots els serveis establerts per la organització per als participants.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">5. Recepció dels corredors</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>L’entrega de dorsal/placa i xips (si s’escau) es farà el mateix dia de la cursa. El dorsal/placa s’ha de col·locar en un lloc visible durant tota la prova.</p>
              <p>Per confirmar la inscripció, el dia de la cursa l’organització demanarà el document o llicència equivalent en el país d’origen del corredor</p>
              <p>Els corredors que no compleixin aquests requisits no podran participar a la cursa.</p>
              <p><b>Els menors de 18 anys</b>, hauran de presentar autorització signada pel tutor legal i contractar una llicència temporal.</p>
              <p><b>Reunió informativa (briefing):</b> A la graella d’horaris s’informarà quan i com es farà (presencial o online). Es comunicaran els punts rellevants del reglament i de l’organització de la cursa, característiques del recorregut i punts d’alerta, previsió meteorològica i el material mínim obligatori.</p>
              <p>Material:</p>
              <p class="ml-4 xl:ml-8"><u>Obligatori</u>: <b>casc protector</b> (de material rígid homologat ), <b>guants i ulleres</b>, aquest material serà obligatori durant tota la duració́ de la prova.</p>
              <p class="ml-4 xl:ml-8"><u>Recomanat</u>:  0,5 litres d’aigua, paravent, joc eines per petites reparacions, kit punxades rodes i mòbil.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">6. Característiques tècniques de la bicicleta</h4>
            <ul class="ml-8 xl:ml-12 list-disc">
              <li>Tots els tubs de la bicicleta han d'estar tapats.</li>
              <li>Les rodes hauran de tenir un diàmetre màxim de 29”</li>
            </ul>
          </div>
          <div class="">
            <h4 class="text-xl">7. Recinte tancat de sortida</h4> 
            <ul class="ml-8 xl:ml-12 list-disc">
              <li>Consulteu a la web l’horari d’entrada al recinte.</li>
              <li>A l’entrada al recinte l’organització controlarà el material a tots els corredors i les característiques tècniques de la bicicleta.</li>
              <li>És responsabilitat dels participants portar l'equip i material per a la cursa adequat i en bon estat i es desqualificarà qualsevol corredor que no ho complexi.</li>
            </ul>
          </div>
          <div class="">
            <h4 class="text-xl">8. Coneixament dels riscos i capacitat dels corredors</h4>
            <ul class="ml-8 xl:ml-12 list-disc">
              <li>És <b>responsabilitat de cada participant</b> haver obtingut els coneixements tècnics, entrenament físic i experiència per poder afrontar les dificultats i riscos associats a les característiques del recorregut i les condicions meteorològiques.</li>
              <li>Si es pren algun medicaments o es pateix alguna patologia (diabetis, intoleràncies..) que comporti risc addicional, s’informarà a la organització en el moment del la recollida de dorsals.</li>
              <li>L’organització aplicarà les mesures per prevenir els riscs durant la cursa, no obstant <b>per el mateix reglament de la cursa els corredors es donen per assabentats i n’accepten voluntàriament les conseqüències i declinen reclamar-ne danys i prejudicis.</b></li>
              <li>Si un corredor presenta símptomes de disminució de la capacitat física o manca de tècnica, l’organització podrà retirar-lo de la cursa per tal de prevenir qualsevol problema de salut o risc d’accident.</li>
            </ul>
          </div>
          <div class="">
            <h4 class="text-xl">9. Senyalització</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>El recorregut estarà senyalitzat amb cartells, banderoles o cintes. En alguns encreuaments i en zones de perill objectiu hi haurà senyalitzacions especifiques i si s’escau, membres de l’organització per informar.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">10. Controls de pas</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>L’organització disposarà de <b>punts de control de pas</b> al llarg del recorregut, que seran obligatoris i on es farà el registre de temps.</p>
              <p>En els punts de control es tancarà la cursa quan s’hagi superat el temps límit que determini l’organització. Els corredors que no superin el temps establert quedaran desqualificats.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">11. Avituallaments</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Hi haurà <b>varis punts d’avituallament</b> amb líquid (aigua i aigua amb sals isotòniques) i sòlids (fruita o xocolata). Els corredors hauran reomplir, en cap cas podran endur-se’n envasos de plàstic o embolcalls. Es podrà rebre ajuda en la zona de 100 metres abans i després dels punts d’avituallament.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">12. Abandonament</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Els participants que decideixin “abandonar” ho hauran de fer en un dels punts de control o avituallaments sempre notificant el número de dorsal i lliurant el xip (si s’escau). L’organització els indicarà com retornar al punt d’arribada. En cas que un corredor abandoni la cursa i surti dels camins senyalitzats sense haver-ho notificat degudament, l’organització declina tota responsabilitat sobre els accidents o danys que puguin patir.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">13. Cura de l'entorn</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>La cursa es desenvolupa per paratges naturals pel que serà obligació preservar l’entorn, respectant la flora i la fauna. Així que es prega no sortir del traçat marcat per l’organització, tenir màxima cura de tot l’entorn i també, sobretot, evitar llençar deixalles fora de les àrees de control i avituallament, on hi haurà contenidors.</p>
              <p>Durant la prova i segons l’època de l’any en que es dugui a terme, els corredors es poden trobar al llarg del recorregut amb ramats d’animals pasturant tranquil·lament. Es prega màxim respecte i en tot cas, si convé reduir el ritme, per tal d’evitar espantar-los.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">14. Desqualificacions</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Serà desqualificat o penalitzat qualsevol corredor/a que infringeixi les normes d’aquest reglament i/o incorri en qualsevol dels següents supòsits:</p>
              <ul class="ml-8 xl:ml-12 list-disc">
                <li>Que no respecti l’itinerari marcat del recorregut</li>
                <li>Que no hagi passat pels controls de pas</li>
                <li>Que arribi en els controls fora del límit de temps establert</li>
                <li>Que rebi ajut o avituallament extern</li>
                <li>Que no porti el dorsal reglamentari</li>
                <li>Que no porti el material obligatori</li>
                <li>Que no faci cas de les indicacions dels membres de l’Organització</li>
                <li>Que tingui una actitud poc esportiva amb la resta de participants, controls, àrbitres, supervisors, periodistes u altres membres de l’organització</li>
                <li>Que no sigui respectuós amb l’entorn (llençar material no biodegradable serà considerat una falta greu)</li>
              </ul>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">15. Aplaçament, interrupció i anul·lació de la prova</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Les proves no seran aplaçades ni anul·lades, excepte en cas de condicions climatològiques extremadament desfavorables. Si s’ha d’interrompre la prova en un punt del recorregut es comptaran les posicions i temps d’arribada en aquest punt o en el darrer control de temps que s’hagi fet. En el cas d’interrupció o anul·lació de la prova veure política de devolucions.</p>
              <p>Trofeus i premis</p>
              <ul class="ml-8 xl:ml-12 list-disc">
                <li>Ruta Black pata</li>
                <ul class="ml-8 xl:ml-12 list-disc">
                  <li>Bici normal (Categoria absoluta masc.; categoria absoluta fem.)</li>
                </ul>
                <li>Ruta duroc</li>
                <ul class="ml-8 xl:ml-12 list-disc">
                  <li>Bici normal (Categoria absoluta masc.; categoria absoluta fem.)</li>
                </ul>
                <li>Ruta Stravadeta (familiar)</li>
                <ul class="ml-8 xl:ml-12 list-disc">
                  <li>Bici normal (Categoria absoluta masc.; categoria absoluta fem.)</li>
                </ul>
              </ul>
              <p>Premis varis a definir el dia de la cursa.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">16. Seguretat i assistència sanitària</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>L’organització disposarà de recursos i personal preparat per donar suport vital bàsic i assistència de primers auxilis i si s’escau fer un trasllat fins a un centre sanitari. Disposarem d’ambulancia.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">17. Auxili en cas d'accidents</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Els participants estan obligats a auxiliar els altres corredors accidentats si necessiten ajuda, i d’informar de qualsevol incidència en el control de pas més proper. El fet de no donar auxili serà penalitzat amb desqualificació immediata.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">18. Responsabilitat</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>L’organització declina tota responsabilitat en cas d’accident o negligència, així com de pèrdua dels objectes que pugui dur cada participant, encara que disposarà d’una àrea reservada i vigilada com a consigna durant la cursa. Els participants seran responsables de tot perjudici que puguin causar-se a sí mateixos i a tercers.</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">19. Drets d'imatge</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Tots els corredors renuncien als seus drets d'imatge durant la carrera. L'organització podrà utilitzar les imatges de la cursa per motius d'interès propi. No obstant la informació que s’obté de les inscripcions a la cursa seran tractades com a informació privilegiada i confidencial i conseqüentment no serà publicada ni divulgada a ningú (segons reglament general de Protecció de Dades (UE) 2016/679).</p>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">20. Reclamacions i sistema d'apel·lació</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>Les reclamacions s’han de fer per escrit amb el document facilitat per l’organització a on caldrà fer constar:</p>
              <ul class="ml-8 xl:ml-12 list-disc">
                <li>nom i DNI de la persona que fa la reclamació</li>
                <li>nom i nº de dorsal del/ls esportistes afectats</li>
                <li>Fets s’al·leguen</li>
                <li>Es farà un dipòsit de 60€ per reclamació que es tornaran si prospera.</li>
                <li>Las reclamacions seran lliurades al Comitè de Carrera i es facilitarà una còpia al reclamant.</li>
              </ul>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">21. Política de devolucions</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>L’organització garanteix el retorn de l’import de la inscripció total o parcial en els següents supòsits i condicions:</p>
              <ul class="ml-8 xl:ml-12 list-disc">
                <li>Si el corredor sol·licita una devolució abans del dia 26 de gener, se li retornarà el 80% del valor de la inscripció</li>
                <li>A partir del 27 de gener no es retornarà l'import de la inscripció.</li>
                <li>Si, per condicions meteorològiques extremes o motius de força major l’organització́ suspèn la sortida de la cursa, es garanteix la devolució́ parcial de la inscripció́, depenent de les despeses ja realitzades per l’organització amb anterioritat.</li>
                <li>En cas d’interrupció de la cursa un cop s’ha iniciat, perquè ho aconsellen les condicions climatològiques i cap dels itineraris alternatius es practicable, els drets d’inscripció no seran retornats.</li>
              </ul>
            </div>
          </div>
          <div class="">
            <h4 class="text-xl">22. Acceptació</h4>
            <div class="flex flex-col gap-2 ml-4 xl:ml-8">
              <p>La formalització de la inscripció a la cursa implica l’acceptació d’aquest reglament.</p>
              <p>En cas de dubte o malentès a causa del redactat del reglament de l’Stravada prevaldrà el que s’indica en el reglament oficial de la FCC.</p>
            </div>
          </div>
          
        </div>

        <!-- <div class="mt-4">
          <a href="/docs/reglament.pdf" download class="text-blue-600 hover:underline">
            Descarregar document
          </a>
        </div> -->
        
      </div>
      
	</main>
</Layout>

<style>
  .m-custom {
    margin-top: 11vh;
  }
  </style>
