---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Welcome from "./stravada/welcome.astro";
import Cartell from "./stravada/cartell.astro";
import Tracks from "./stravada/tracks.astro";
import WelcomePack from "./stravada/welcomePack.astro";
import Info from "./stravada/info.astro";
---

<Layout title="Stravada | Black Pata CC">
  <!-- <Header />  -->
  <main>
    <!-- <Welcome />  -->
    <Cartell />
    <Tracks />
    <WelcomePack />
    <Info />
  </main>

  <!-- <script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener('DOMContentLoaded', function() {
      const elements = document.querySelectorAll('.scale-a');

      window.addEventListener('scroll', function() {
        const viewHeight = window.innerHeight;

        elements.forEach(element => {
          const rect = element.getBoundingClientRect();
          const htmlElement = element as HTMLElement;

          // Ajusta el rango según necesites
          if (rect.top >= viewHeight * 0.15 && rect.bottom <= viewHeight * 0.35) {
            htmlElement.style.opacity = '1'; // Mostrar el elemento
            htmlElement.style.animation = 'scale-a-lil 1s linear both';
          } else {
            htmlElement.style.opacity = '0'; // Ocultar el elemento fuera del rango
          }
        });
      });
    });
  </script> -->

</Layout>

