---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Welcome from "./stravada/welcome.astro";
import Cartell from "./stravada/cartell.astro";
import Tracks from "./stravada/tracks.astro";
import WelcomePack from "./stravada/welcomePack.astro";
import Info from "./stravada/info.astro";
---

<Layout title="Stravada | Black Pata CC">
  <!-- <Header />  -->
  <main>
    <Welcome /> 
    <Cartell />
    <Tracks />
    <WelcomePack />
    <Info />
  </main>
</Layout>

