<section class="mb-12 mx-12 mt-12">
  <div class="border-b-2 border-b-black">
    <h3 class="text-4xl xl:text-5xl mb-4">Recorreguts</h3>
  </div>
  <div class="flex flex-col xl:flex-row xl:justify-center">
    <div class="xl:w-1/2 grid grid-cols-1 md:grid-cols-2 p-8 gap-8 align-center justify-center">
      <div class="flex justify-center align-center"> 
        <img alt="Recorregut 1" src="/img/stravada/recorregut1.jpg" class="scale-a"/>
      </div>
      <div class="flex justify-center align-center">
        <img alt="Recorregut 2" src="/img/stravada/recorregut2.jpg" class="scale-a"/>
      </div>
    </div>
    <div class="xl:w-1/2 xl:flex xl:items-center">
      <p class="text-base md:text-lg xl:text-xl 2xl:text-2xl text-center font-sans xl:mx-8">
        Aquest any tindrem <b>2 circuits</b> amb el mateix horari de sortida: un de llarg de <b>52 km</b> i un de mitjà de <b>32 km</b>. 
        Dins dels recorreguts hi trobarem més d’un <b>75% de senders i corriols ciclables</b>, netejats especialment pel 
        dia de la prova, així com diferents <b>avituallaments</b> distribuïts en tots els recorreguts, <b>fotografies</b> personalitzades 
        dels participants i <b>dinar</b> amb <b>beguda</b> en acabar.
      </p>
    </div>
  </div>
</section>

<style scoped>
@keyframes scale-a-lil {
  from {
    scale: .5;
  }
}

.scale-a {
  animation: scale-a-lil linear both;
  animation-timeline: view();
  animation-range: 15vh 45vh;
}
</style>