<section class="mb-12 mx-12 mt-12">
  <div class="border-b-2 border-b-black scale-a">
    <h3 class="text-4xl xl:text-5xl mb-4">Recorreguts</h3>
  </div>
  <div class="flex flex-col xl:flex-row xl:justify-center">
    <div class="xl:w-2/3 grid grid-cols-1 md:grid-cols-3 p-8 gap-8 align-center justify-center">
      <div class="flex justify-center align-center"> 
        <img alt="Ruta Black Pata" src="/img/stravada/rutaBlackPata2.png" class="scale-a"/>
        <!-- <img alt="Recorregut 1" src="/img/stravada/noRecorregut.jpg" class="scale-a"/> -->
      </div>
      <div class="flex justify-center align-center">
        <img alt="Ruta Duroc" src="/img/stravada/rutaDuroc2.png" class="scale-a"/>
        <!-- <img alt="Recorregut 2" src="/img/stravada/noRecorregut.jpg" class="scale-a"/> -->
      </div>
      <div class="flex justify-center align-center">
        <img alt="Stravadeta" src="/img/stravada/stravadeta2.png" class="scale-a"/>
        <!-- <img alt="Recorregut 2" src="/img/stravada/noRecorregut.jpg" class="scale-a"/> -->
      </div>
    </div>
    <div class="xl:w-1/2 xl:flex xl:items-center scale-a">
      <p class="text-base md:text-lg xl:text-xl 2xl:text-2xl text-center font-sans xl:mx-8">
        Aquest any tindrem <b>3 circuits</b> amb el mateix horari de sortida: un de llarg de <b>55 km</b> amb <b>1650+</b>, 
        un de mitjà de <b>33 km</b> amb <b>1000+</b> i un de curt de <b>10 km</b> amb <b>150+</b>. 
        Dins dels recorreguts hi trobarem més d’un <b>70% de corriols i 30% de pista</b>, netejats especialment pel 
        dia de la prova, així com diferents <b>avituallaments</b> distribuïts en tots els recorreguts, <b>fotografies</b> personalitzades 
        dels participants i <b>dinar</b> amb <b>beguda</b> en acabar.
      </p>
    </div>
  </div>
</section>

<style scoped>

</style>